body
{
    background-color: rgb(7, 17, 29);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header
{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
}

section h1
{
    background-color: darkred;
    font-size: 20px;
    color: white;
    padding: 10px;
}

section h2
{
    background-color: rgb(8, 70, 36);
    font-size: 20px;
    color: white;
    padding: 10px;
}

section h3
{
    background-color: rgb(9, 0, 139);
    font-size: 20px;
    color: white;
    padding: 10px;
}

nav
{
    font-size: 20px;
    background-color: rgb(62, 85, 119);
    padding: 5px;
}

main
{
    margin-bottom: 100px;
}

main section
{
    clear: both;
}

footer
{
    clear: both;
    background-color: rgb(165, 48, 12);
    padding: 2px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

/* ID */
#copyright{color: rgb(255, 255, 255); font-size: 80%;}
#active{
    border: 2px solid rgb(39, 8, 8);
    background-color: rgb(165, 48, 12);
    color: rgb(255, 255, 255);
}

/* Class */
.floatLeft{float: left; margin-right: .5%;}
.right{text-align: right;}
.clear{clear: both;}
